.form-example {
  display: grid;
  max-width: 350px;
  gap: 20px;
}

.form__input {
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 300px;
  caret-color: #030303;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  padding: 6px 20px;
  border: 1px solid lightgrey;
  outline: none;
}

.form__pass {
  position: relative;
}

.form__pass__icon {
  color: darkgrey;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.incontent {
  padding: 20px 1rem;
}

.auth__link {
  text-decoration: none;
  color: rgb(75, 65, 65);
}

.auth__link:hover {
  opacity: 0.6;
}

.error {
  padding-left: 5px;
  font-size: 14px;
  width: 220px;
  color: dimgrey;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: #cd5c5c;
  font-size: 16px;
  border-radius: 55px;
  padding: 10px 18px;
}
.btn:hover {
  opacity: 0.5;
}